<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zc.superbooks.dao.ConsumeDao">
    <select id="getAllConsume" resultType="Consume">
        select * from Consume
    </select>
    <insert id="addConsume">
		insert into consume(name,identity,time,place,costWay,cost,description) values (#{name},#{identity},
			#{time},#{place},#{costWay},#{cost},#{description})
    </insert>
</mapper>