<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zc.superbooks.dao.RecordDao">
    <select id="getAllRecord" resultType="Record">
        select * from Record
    </select>
    <select id="getRecordByName" parameterType="String" resultType="Record">
        select * from Record where name = #{name}
    </select>
    <insert id="addRecord" parameterType="Record">
		insert into record(date) values (#{date})
    </insert>
    <select id="getRecordByTime" parameterType="String" resultType="Record">
        select * from Record where date &lt; #{time}
    </select>
</mapper>